<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Administration panel{% endblock %}">
    <meta name="author" content="">
    {% block meta %}{% endblock %}
    <link rel="icon" href="{% static 'users/favicon.ico' %}">

    <title>{% block title %}Administration panel{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'users/bootstrap-3.2.0/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'users/custom-css/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'users:index' %}">SII Project</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'users:index' %}">Home</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">REST Interface <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Users</li>
				<li><a href="{% url 'users:restcredential' %}">User credentials</a></li>
				<li><a href="{% url 'users:restuserlevellist' %}">User levels</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Documents</li>
                <li><a href="{% url 'documents:listuserdocuments' %}">User documents</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
			{% if user.is_authenticated %}
			<li class="navbar-brand">User: {{ user }}</li>
			<li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
			<li><a href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	  {% block content %}
	     <h1>Please, <a href="{% url 'users:login' %}">login</a> first.</h1>
	  {% endblock %}
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'users/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
  </body>
</html>
