{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
        <form class="form-horizontal" method="post" action="{% url 'users:createuser' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Personal credentials</legend>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
	
			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Your password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required autofocus>
			  
			  </div>
			</div>
			
			<legend>Create new user</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newusername">Username*</label>  
			  <div class="col-md-4">
			  <input id="newusername" name="newusername" type="text" placeholder="username" class="form-control input-md" pattern="[a-zA-Z@.+-_]*" maxlength="30" required>
				
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newpassword">Password*</label>
			  <div class="col-md-4">
				<input id="newpassword1" name="newpassword1" type="password" placeholder="password" class="form-control input-md" pattern=".{8,}" required>
				<span class="help-block">Must be at least 8 characters long</span> 
				
			  </div>
			</div>

			<!-- Confirm Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newpassword">Confirm Password*</label>
			  <div class="col-md-4">
				<input id="newpassword2" name="newpassword2" type="password" placeholder="password" class="form-control input-md" required>
				
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newusername">First name</label>  
			  <div class="col-md-4">
			  <input id="newfirstname" name="newfirstname" type="text" placeholder="name" class="form-control input-md" maxlength="30">
				
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newusername">Last name</label>  
			  <div class="col-md-4">
			  <input id="newlastname" name="newlastname" type="text" placeholder="surname" class="form-control input-md" maxlength="30">
				
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="textinput">Email</label>  
			  <div class="col-md-4">
			  <input id="newemail" name="newemail" type="email" placeholder="email" class="form-control input-md">
				
			  </div>
			</div>

			<!-- Select -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="userlevel">Security level</label>
			  <div class="col-md-4">
				<select id="newuserlevel" name="newuserlevel" class="form-control">
				  {% for lev in levels %}
				  <option value="{{ lev }}">Level {{ lev }}</option>
				  {% endfor %}
				</select>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" type="submit" class="btn btn-primary">Create</button>
			  </div>
			</div>

			</fieldset>
		</form>
		
{% endblock %}
