{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
        <form class="form-horizontal" method="post" action="{% url 'users:deleteuser' %}">
			{% csrf_token %}
			<fieldset>

	{% if page == 'home' %}

			<!-- Form Name -->
			<legend>Delete current user (cannot delete superuser)</legend>
			
		    {% if message1 %}
		    <h4>{{ message1 }}</h4>
		    {% endif %}
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="submit">Delete current user</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="currentuser" class="btn btn-danger" {% if user.is_superuser %}disabled{% endif %}>Delete</button>
			  </div>
			</div>
			
			<legend>Delete another user (only superuser can do this)</legend>
			
		    {% if message2 %}
		    <h4>{{ message2 }}</h4>
		    {% endif %}

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="selectbasic">Select user</label>
			  <div class="col-md-4">
				<select id="username" name="username" class="form-control" {% if not user.is_superuser %}disabled{% endif %}>
				  {% for u in userlist %}
				  <option value="{{ u }}">{{ u }}</option>
				  {% endfor %}
				</select>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="submit">Delete selected user</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="otheruser" class="btn btn-danger" {% if not user.is_superuser %}disabled{% endif %}>Delete</button>
			  </div>
			</div>
			
	{% elif page == 'confirmcurrent' %}
	
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="confirmdelete">Are you sure to delete your account?</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="confirmdeletecurrent" class="btn btn-danger">Confirm</button>
				<button id="action" name="action" value="abortdeletecurrent" class="btn btn-primary">Cancel</button>
			  </div>
			</div>
			
			<input type="hidden" id="toremove" name="toremove" value="{{ toremove }}" />
	
	{% elif page == 'confirmother' %}
	
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="confirmdelete">Are you sure to delete {{ deluser }}?</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="confirmdeleteother" class="btn btn-danger">Confirm</button>
				<button id="action" name="action" value="abortdeleteother" class="btn btn-primary">Cancel</button>
			  </div>
			</div>
			
			<input type="hidden" id="toremove" name="toremove" value="{{ deluser }}" />
	
	{% endif %}

			</fieldset>
		</form>
		
{% endblock %}
