{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
		<form class="form-horizontal">
			<fieldset>

			<!-- Form Name -->
			<legend>Administration</legend>
			
	{% if user.is_authenticated %}
			
		{% if not initialized %}
		
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="init">Initialize system</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-danger" href="{% url 'users:init' %}" role="button" {% if not user.is_superuser %}disabled{% endif %}>GO!</a>
			  </div>
			</div>
			
		{% else %}

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="levels">Manage security levels</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-danger" href="{% url 'users:levels' %}" role="button" {% if not user.is_superuser %}disabled{% endif %}>GO!</a>
			  </div>
			</div>
			
			<!-- Form Name -->
			<legend>User management</legend>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="init">Create new user</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-success" href="{% url 'users:createuser' %}" role="button">GO!</a>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="init">Delete an existing user</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-success" href="{% url 'users:deleteuser' %}" role="button">GO!</a>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="init">Manage security levels of user</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-success" href="{% url 'users:userpermissions' %}" role="button">GO!</a>
			  </div>
			</div>
			
		{% endif %}
			
	{% else %}
			
			<h1>Please, <a href="{% url 'users:login' %}">login</a> first.</h1>
			
	{% endif %}

			</fieldset>
		</form>

        
{% endblock %}
