{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
		<form class="form-horizontal" method="post" action="{% url 'users:init' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Initialize system</legend>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Personal Password</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required autofocus>
				
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" type="submit" class="btn btn-primary">Initialize</button>
			  </div>
			</div>

			</fieldset>
		</form>
        
{% endblock %}
