{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Login page{% endblock %}

{% block content %}

		<form class="form-horizontal" method="post" action="{% url 'users:login' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Please sign-in</legend>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username*</label>  
			  <div class="col-md-4">
			  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" pattern="[a-zA-Z@.+-_]*" maxlength="30" required autofocus>
				
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required>
				
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" class="btn btn-primary" type="submit">Login</button>
			  </div>
			</div>
			
			<input type="hidden" id="next" name="next" value="{{ next }}" />

			</fieldset>
		</form>


{% endblock %}
