{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
        <form class="form-horizontal" method="post" action="{% url 'users:levels' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Manage security levels</legend>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
			
		    {% if confirm_message %}
		    <h4>{{ confirm_message }}</h4>
		    {% endif %}

	{% if page == 'home' %}
	
			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Your password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" autofocus required>
				
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="level">New maximum security level*</label>  
			  <div class="col-md-4">
			  <input id="level" name="level" type="text" placeholder="Current security level: {{ maxlevel }}" class="form-control input-md" pattern="[0-9]*" required>
			  <span class="help-block">Must be a value between 0 and 100</span>  
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="singlebutton">Update level number</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="next" class="btn btn-primary">Next</button>
			  </div>
			</div>
			
	{% elif page == 'confirmation' %}
	
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="doublebutton">Are you sure?</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="confirm" class="btn btn-primary">Confirm</button>
				<button id="action" name="action" value="abort" class="btn btn-reverse">Cancel</button>
			  </div>
			</div>
			
			<input type="hidden" id="password" name="password" value="{{ password }}" />
			<input type="hidden" id="newlevel" name="newlevel" value="{{ newlevel }}" />
			
	{% endif %}

			</fieldset>
		</form>
	

        
{% endblock %}
