{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
        
        <form class="form-horizontal" method="post" action="{% url 'users:userpermissions' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Add user permissions</legend>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
			
		    {% if confirm_message %}
		    <h4>{{ confirm_message }}</h4>
		    {% endif %}

	{% if page == '1' %}

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="levels">Select user</label>
			  <div class="col-md-4">
				<select id="targetuser" name="targetuser" class="form-control" required>
				  {% for u in userlist %}
				  <option value="{{ u }}">{{ u }}</option>
				  {% endfor %}
				</select>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="next"></label>
			  <div class="col-md-4">
				<button id="action" name="action" value="1" class="btn btn-primary">Next</button>
			  </div>
			</div>
			
	{% elif page == '2' %}
	
			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Your password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required autofocus>
				
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="level">New maximum security level*</label>  
			  <div class="col-md-4">
			  <input id="level" name="level" type="text" placeholder="Current security level: {{ currentlevel }}" class="form-control input-md" pattern="[0-9]*" required>
			  <span class="help-block">Must be a value between {{ minlevel }} and {{ maxlevel }}</span>  
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="next"></label>
			  <div class="col-md-4">
				<button id="action" name="action" value="2" class="btn btn-primary">Next</button>
			  </div>
			</div>
			
			<input type="hidden" id="targetuser" name="targetuser" value="{{ targetuser }}" />
			
	{% elif page == '3' %}
	
			<!-- Button (Double) -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="doublebutton">Are you sure?</label>
			  <div class="col-md-4">
				<button id="action" name="action" value="confirm" class="btn btn-primary">Confirm</button>
				<button id="action" name="action" value="abort" class="btn btn-reverse">Cancel</button>
			  </div>
			</div>
			
			<input type="hidden" id="password" name="password" value="{{ password }}" />
			<input type="hidden" id="newlevel" name="newlevel" value="{{ newlevel }}" />
			<input type="hidden" id="targetuser" name="targetuser" value="{{ targetuser }}" />
			
	{% endif %}

			</fieldset>
		</form>
	

        
{% endblock %}
