/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ago-2014, 15.53.36
    Author     : stefano
*/

.root {
     -fx-background-image: url("./image.png");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
    -fx-effect: dropshadow( gaussian , rgba(184, 182, 182, 1) , 0,0,0,1 );
}


#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #FFFFFF;
   -fx-stroke: #000000;
   -fx-stroke-width: 1;
   -fx-effect: innershadow( three-pass-box , rgba(rgba(184, 182, 182, 1)) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-stroke: #000000;
  -fx-stroke-width: 1; 
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,1) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
